body {
  text-align: center;
  margin-top: 100px;
}
h1 {
  color: #f3f4f3;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 40px;
}
/* background principal class */
.background {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 320px;
  background-color: #e28527;
  text-align: left;
  padding: 50px 50px 80px 30px;
  color: #f3f4f3;
  border-radius: 8px 0 0 8px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  margin: -3px;
}
/* Secundary class for the buttons */
.color1 {
  background-color: #016972;
  border-radius: 0;
}

.color2 {
  background-color: #00403f;
  border-radius: 0 8px 8px 0;
}
/* Media query to display align in the mobile  */
@media (max-width: 1000px) {
  .background {
    border-radius: 8px 8px 0 0;
  }
  .color1 {
    border-radius: 0;
  }
  .color2 {
    border-radius: 0 0 8px 8px;
  }
}
/* buttons */
.btn {
  background-color: #f3f4f3;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  border: solid 2px;
  border-color: #f3f4f3;
  margin-top: 50px;
  color: #e28527;
}
.colorbtn {
  color: #016972;
}
.colorbtn2 {
  color: #00403f;
}
/* Buttons Animation */
.btn:hover {
  background-color: #e28527;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  border: solid 2px;
  border-color: #f3f4f3;
  margin-top: 50px;
  color: #f3f4f3;
}

.colorbtn:hover {
  background-color: #016972;
}

.colorbtn2:hover {
  background-color: #00403f;
}
/* Footer */
.attribution {
  margin: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
